@media (min-width: 50rem) {
    #main-header{
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

@media (max-width: 50rem) {
    .side-bar{
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .site-footer{
        display: none;
    }
}

@mixin text-color($theme){
    @if $theme == light{
        color: rgb(28, 29, 31);
    } @else{
        color: white;
    }
}


body {
    font-family: "Inter", sans-serif !important;
    line-height: 1.625;

    @include text-color($color-scheme);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6, .main-content #toctitle{
    margin-bottom: 0.75em !important;
}

h1, h2, h3, h4, h5, h6, #toctitle{
    font-weight: 600 !important;
}

h1, .text-alpha{
    font-weight: 700 !important;
}

.site-logo{
    width: fit-content !important;
    aspect-ratio: 1 !important;
}

a.site-title.lh-tight {
    font-size: 15px !important;
    gap: 10px !important;
    font-weight: 600 !important;
}

iframe{
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 560 / 315 !important;
}

content-quiz{
    width: 100%;
}

#search-toggle{
    display: none;
}

@media (max-width: 800px){
    #theme-toggle{
        position: fixed;
        z-index: 10;
        top: 0;
        right: 56px;
        height: 59px;
    }

    #search-toggle{
        display: block;
        position: fixed;
        z-index: 10;
        top: 0;
        right: calc(2 * 56px);
        height: 59px;
    }

    #search-toggle svg{
        height: 29px;
    }

    #main-header{
        display: block;
    }

    .search{
        display: none;
    }

    .site-title{
        width: fit-content;
    }

    .side-bar + .main .main-header.nav-open .search{
        display: block;
    }
}

.page-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer p{
    margin: 0;
}

.page-footer .contact{
    display: block;
    background: #d8b4fe;
    height: fit-content;
    line-height: 1;
    padding: 5px;
    border-radius: 100%;
    fill: white;
}

.page-footer .contact:hover{
    background: #c084fc;
}

.site-contact{
    display: flex;
    gap: 5px;
}


@media print{
    .site-logo{
        display: none;
    }
}