@media (min-width: 50rem) {
    #main-header{
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

@media (max-width: 50rem) {
    .side-bar{
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .site-footer{
        display: none;
    }
}

@mixin text-color($theme){
    @if $theme == light{
        color: rgb(28, 29, 31);
    } @else{
        color: white;
    }
}


body {
    font-family: "Inter", sans-serif !important;
    line-height: 1.625;

    @include text-color($color-scheme);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6, .main-content #toctitle{
    margin-bottom: 0.75em !important;
}

h1, h2, h3, h4, h5, h6, #toctitle{
    font-weight: 600 !important;
}

h1, .text-alpha{
    font-weight: 700 !important;
}

.site-logo{
    width: fit-content !important;
    aspect-ratio: 1 !important;
}

a.site-title.lh-tight {
    font-size: 15px !important;
    gap: 10px !important;
    font-weight: 600 !important;
}

iframe{
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 560 / 315 !important;
}