<div class="page-footer">
    <p class="text-small text-grey-dk-100 mb-0">Copyright © 2025 Reach for STEM Initiative</p>
    <div class="site-contact">
        <div class="contact">
            <a href="mailto:{{ site.email }}" target="_blank">
                <img src="/assets/icons/email.svg" width="24px" />
            </a>
        </div>
        <div class="contact">
            <a href="{{ site.instagram }}" target="_blank">
                <img src="/assets/icons/instagram.svg" width="24px" />
            </a>
        </div>
        <div class="contact">
            <a href="{{ site.youtube }}" target="_blank">
                <img src="/assets/icons/youtube.svg" width="24px" />
            </a>
        </div>
    </div>
</div>

